/*style file created by Vincent Esparza
===========================================
00:css variable
01: color
02: Typography


============================
*/
/* 00 CSS variable*/
:root{
--body-color: hsla(359,39%,35%,0.8);
--page-color: hsla(120, 95%, 40%, 0.8);
--sidebar-color: rgb(6, 80, 117);
/** font color**/
--font-color:rgb(66, 41, 139);
/** lsyout variables**/
--page-top-position: 85%;
--page-width: 30%;
--bottom-bar-height: 15vh;
}/*color*/
body{
    background-color: hsla(327, 30%, 41%,0.9);
}
#zen-intro{
    background-color: rgb(222, 127, 18);
    color: var(--font-color);
}
#zen-supporting{
    background-color: rgb(139, 9, 9);
}
.sidebar{
    background-color: rgb(3, 97, 97);
}
h1{
    --h1-color:rgb(154, 145, 145);
}

/*02 layout*/
div.explanation,div.requirements,div.benefits,div.participation{
    position: fixed;
    width: var(--page-width);
    top: var(--page-top-position);
    background-image: url(../img/newspaper3.jpg);
}
div.explanation{
    left:0%;
}
div.requirements{
    left:10%;
}
div.benefits{
    left: 15%;
}
div.participation{
    left: 20%;
}

aside.sidebar{
    position:absolute;
    top: 20%;
    right: 0%;
   /** bottom: 0;**/
   /*adjust width/height*/
}
section.intro{
    position: fixed;
    bottom: 5%;
    left:
    right 80%;
    width:30%;
    height:
    
   
    
}
div.extra2{

    position: fixed;
    bottom: 5%;
    left:
    right 80%;
    width:30%;
    height:
   
}
    /*finish as much as you can*/

}
